#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em; 
}

.text {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  margin: 0.25em;
  min-width: 15em;
  border-radius: 0.5em;
}

.bet-emoji {
  width: 7.5em;
  height: 7.5em;
}

.options {
  display: flex;
  justify-content: center;
  border: none;
  gap: 1em;
}

.post {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 0.5em;
  width: fit-content;
  height: fit-content;
}

.option-button:hover {
  border-color: #646cff;
  background-color: #020650;
}

button[type='submit'] {
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button[type='submit']:hover {
  background-color: #055605;
  border-color: rgb(5, 174, 5);
}

.post-gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.create-form {
  border: 1px solid whitesmoke;
  border-radius: 0.5em;
  margin-top: 2em;
  padding: 1em;
}